*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
.idea/compiler.xml
.idea/copyright/profiles_settings.xml
.idea/encodings.xml
/.idea
app/app-release.apk
/app/src/jni/src/*.user
/app/src/jni/src/Debug
/app/src/jni/*.ncb
/app/src/jni/*.suo
/app/src/obj
